.box
{
    border: solid rgb(196, 201, 198);
    padding: 2em;
    align-items: center;
}
.row
{
    margin-top: 1rem;
}
.box1
{
    padding: 3em;
    border: solid rgb(196, 201, 198);
    margin-top: 56px;
}
